#titulo {
    background-color: $bgColor;
}

#textos {
    background-color:$bgColor;
}

#nav-button {
    background-color:$bgColor;
}

body {
    background-color: $bgBody;
}

.textos2 {
    background-color:$bgColor;
    }

